<title>index</title>
<main class = "main-content">
    <!--<aside class = "left-sidebar">Left Sidebar</aside>-->
    <p id = "count"></p>
    <div id = "product-list" class = "product-list"></div>
    <!--<aside class = "right-sidebar">Right Sidebar</aside>-->
</main>
