<main class = "main-content">
    <div class = "flex-content">
        <h2 class = "form-header">Post Video Form</h2>
        <label for="posttitle">Post Title</label>
        <input type="text" name="posttitle" id="posttitle" placeholder="Post Title">

        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Description">

        <label for="description">Video</label>
        <input type="file" name="video" id="video" placeholder="Video">

        <input type="checkbox" id="policy" name="policy">
        <label for="policy">I have read and agree to the <a href="">Acceptable Use Policy</a></label>

        <input type="submit" value="Login">
    </div>
</main>